
@{
    ViewBag.Title = "Admin-Dashboard";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}


<div class="container d-flex align-items-center justify-content-center vh-100">
    <h1 class="text-center">Welcome to the Admin Dashboard</h1>
</div>
