<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />

    <!-- DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <!-- DataTables Buttons CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <!-- DataTables Buttons JavaScript -->
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>

    <style>
        .navbar-nav .nav-item.active .nav-link {
            color: black; /* Set the active color to dark */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="/admin/index">Airdrop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/index">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="shipmentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shipment
                    </a>
                    <div class="dropdown-menu" aria-labelledby="shipmentDropdown" data-hover="dropdown">
                        <a class="dropdown-item" href="/Shipment/AddShipment">Add shipment</a>
                        <a class="dropdown-item" href="/Shipment/shipments">All Shipments</a>
                        <a class="dropdown-item" href="/Shipment/Tracking">Tracking</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Customer/customers">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/AdminProfile">Profile</a>
                </li>
                <li class="nav-item">
                    <p class="nav-link" onclick="handleLogout()" style="cursor: pointer;">Logout</p>

                </li>
            </ul>
        </div>
    </nav>


    <div style="margin-top: 80px;">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('.navbar-nav a').filter(function () {
                return this.href == location.href;
            }).parent().addClass('active');
        });


       
    // Function to handle the logout click event
            function handleLogout() {
                // Display SweetAlert confirmation box
                Swal.fire({
                    title: 'Are you sure you want to logout?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Logout',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // User confirmed, send AJAX request
                        sendLogoutRequest();
                    }
                })};
    

            // Function to send the AJAX request
            function sendLogoutRequest() {
                // Make your AJAX request here using the appropriate method (e.g., jQuery's $.ajax or Fetch API)
                // Replace the URL with your logout endpoint
                // Replace the success condition with your actual success response
                // On successful response, redirect to home/index
                $.ajax({
                    url: '/home/logout',
                    method: 'POST',
                    success: function (response) {
                        if (response.success === true) {
                            // Redirect to home/index
                            window.location.href = '/home/index';
                        } else {
                            // Handle any other response condition
                            console.log('Logout failed');
                        }
                    },
                    error: function () {
                        // Handle AJAX request error
                        console.log('Logout failed');
                    }
                })};
    

    </script>

</body>
</html>
